/* PostCard.css */
.post-card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    width: 100%;
    max-width: 500px;
    /* Adjust as needed */
}

.post-header {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-image {
    width: 100%;
    max-height: 300px;
    /* Adjust as needed */
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.post-actions {
    display: flex;
    justify-content: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.action-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.action-button img {
    width: 24px;
    padding-inline: 10px;
    height: 24px;
    display: block;
}

.action-button img:hover {
    opacity: 0.6;
    transition: 0.3s ease;
}

.post-caption {
    font-size: 14px;
    color: #333;
}