.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    overflow-y: auto;
    z-index: 1000;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .cart-item-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 10px;
  }
  
  .cart-item-details {
    flex-grow: 1;
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .quantity-controls button {
    width: 40px;
  }
  
  .quantity-controls span {
    margin: 0 10px;
    font-size: 1em;
  }
  
  .close-button-container {
    display: flex;
    justify-content: flex-end; /* Aligns button to the right */
    margin-top: 20px;
  }
  
  .close-button {
    width: 80px;
    height: 30px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s;
  }
  
  .close-button:hover {
    background-color: darkviolet;
  }
  